<!DOCTYPE html>
<html lang="en" ng-app="factApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div ng-controller="factCont">
        <input type="number" ng-model="num" placeholder="enter number">
        <button ng-click="fact()">For factorial</button>
        <button ng-click="square()">For square</button>
        <p>fact:{{factRes}}</p>
        <p>square:{{squareRes}}</p>
    </div>

    <script>
        var app = angular.module('factApp',[]);
        app.controller('factCont', function($scope){
            $scope.num = 0;

            $scope.square = function(){
                $scope.squareRes = $scope.num * $scope.num;
            }

            $scope.fact = function(){
                var result = 1;
                for (var i = 2; i <= $scope.num; i++) {
                result *= i;
             }
            $scope.factRes = result;
            }
        })
    </script>
</body>
</html>